{% extends 'base.html' %}
{% block page_content %}
    <body style="background-color:#198754;"></body>
    <div class="row justify-content-center">
        <div class="d-flex">
            <div class="d-inline p-2 w-50">
                <h1><u>{{ profile.firm_name }} Firm Profile</u></h1>
            </div>
            <div class="d-inline p-2 w-50">


                <div class="d-flex flex-column">
                    <h5><u>Firm Name:</u> {{ profile.firm_name }}</h5>

                    {% if profile.email %}
                        <h5><u>Email:</u> {{ profile.email }}</h5>
                    {% endif %}
                    {% if profile.phone %}
                        <h5><u>Phone Number:</u> {{ profile.phone }}</h5>
                    {% endif %}
                    {% if profile.address %}
                        <h5><u>Address:</u> {{ profile.address }}</h5>
                    {% endif %}
                    {% if profile.region %}
                        <h5><u>Region:</u> {{ profile.region }}</h5>
                    {% endif %}
                </div>
                <a href="{% url 'dashboard' %}" class="btn btn-secondary btn-sm">Dashboard</a>
                <a href="{% url 'edit firm' user.pk %}" class="btn btn-secondary btn-sm">Edit profile</a>
                <a href="{% url 'firm delete' user.pk %}" class="btn btn-secondary btn-sm">Delete profile</a>
                <a href="{% url 'create car' %}" class="btn btn-secondary btn-sm">Add Car Advertisement</a>
                <a href="{% url 'create truck' %}" class="btn btn-secondary btn-sm">Add Truck Advertisement</a>
                <a href="{% url 'create motor' %}" class="btn btn-secondary btn-sm">Add Motor Advertisement</a>
                <a href="{% url 'logout user' %}" class="btn btn-secondary btn-sm">Logout</a>
                <a class="btn btn-secondary btn-sm" href="javascript:history.back()">Back</a>
                {% if cars %}
                    <div class="row mb-5">
                        {% for car in cars %}
                            {#                <div class="container">#}
                            <div class="col-sm-6">
                                <div class="card ml-3 mb-3" style="width: 12rem;">
                                    <img src="{{ car.photo }}"
                                         class="card-img-top" alt="Photo description">
                                    <div class="card-body">

                                        <h5 class="card-title">{{ car.brand }} {{ car.model }}</h5>
                                        <p class="card-text">First registration : {{ car.first_reg_date }}</p>
                                        <p class="card-text">{{ car.transmission }}</p>
                                        <p class="card-text">{{ car.fuel }}</p>
                                        <p class="card-text">{{ car.km }} KM</p>
                                        <p class="card-text">Price : {{ car.price }} Euro</p>
                                        <div class="navbar">
                                            <a href="{% url 'car details' car.pk %}"
                                               class="btn btn-secondary btn-sm">Seе</a>
                                            <a href="{% url 'edit car' car.pk %}"
                                               class="btn btn-secondary btn-sm">Edit</a>
                                            <a href="{% url 'delete car' car.pk %}"
                                               class="btn btn-secondary btn-sm">Delete</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
                {% if trucks %}
                    <div class="row mb-5">
                        {% for truck in trucks %}
                            <div class="col-sm-6">
                                <div class="card ml-3 mb-3" style="width: 15rem;">
                                    <img src="{{ truck.photo }}"
                                         class="card-img-top" alt="Photo description">
                                    <div class="card-body">
                                        <h5 class="card-title">{{ truck.brand }} {{ truck.model }}</h5>
                                        <p class="card-text">First registration : {{ truck.first_reg_date }}</p>
                                        <p class="card-text">{{ truck.transmission }}</p>
                                        <p class="card-text">{{ truck.fuel }}</p>
                                        <p class="card-text">{{ truck.kilometers }} KM</p>
                                        <p class="card-text">Price : {{ truck.price }} Euro</p>
                                        <div class="navbar">
                                            <a href="{% url 'truck details' truck.pk %}"
                                               class="btn btn-secondary btn-sm">Seе</a>
                                            <a href="{% url 'edit truck' truck.pk %}"
                                               class="btn btn-secondary btn-sm">Edit</a>
                                            <a href="{% url 'delete truck' truck.pk %}"
                                               class="btn btn-secondary btn-sm">Delete</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
                {% if motors %}
                    <div class="row mb-5">
                        {% for motor in motors %}
                            <div class="col-sm-6">
                                <div class="card ml-3 mb-3" style="width: 15rem;">
                                    <img src="{{ motor.photo }}"
                                         class="card-img-top" alt="Photo description">
                                    <div class="card-body">
                                        <h5 class="card-title">{{ motor.brand }} {{ motor.model }}</h5>
                                        <p class="card-text">First registration : {{ motor.first_reg_date }}</p>
                                        <p class="card-text">{{ motor.transmission }}</p>
                                        <p class="card-text">{{ motor.fuel }}</p>
                                        <p class="card-text">{{ motor.kilometers }} KM</p>
                                        <p class="card-text">Price : {{ motor.price }} Euro</p>
                                        <div class="navbar">
                                            <a href="{% url 'motor details' motor.pk %}"
                                               class="btn btn-secondary btn-sm">Seе</a>
                                            <a href="{% url 'edit motor' motor.pk %}"
                                               class="btn btn-secondary btn-sm">Edit</a>
                                            <a href="{% url 'delete motor' motor.pk %}"
                                               class="btn btn-secondary btn-sm">Delete</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
