{% extends 'base.html' %}
{% block page_content %}
    <body style="background-color:#198754;"></body>
    <div class="row justify-content-center">
        <div class="d-flex">
            <div class="d-inline p-2 w-50">
                <h1><u>{{ profile.firm_name}} Firm Profile</u></h1>
            </div>
            <div class="d-inline p-2 w-50">


                <div class="d-flex flex-column">
                    <h5><u>Firm Name:</u> {{ profile.firm_name }}</h5>

                    {% if profile.email %}
                        <h5><u>Email:</u> {{ profile.email }}</h5>
                    {% endif %}
                    {% if profile.phone %}
                        <h5><u>Phone Number:</u> {{ profile.phone }}</h5>
                    {% endif %}
                    {% if profile.address %}
                        <h5><u>Address:</u> {{ profile.address }}</h5>
                    {% endif %}
                    {% if profile.region %}
                        <h5><u>Region:</u> {{ profile.region }}</h5>
                    {% endif %}
                </div>
                <a href="{% url 'dashboard' %}" class="btn btn-secondary btn-sm">Dashboard</a>
                <a href="{% url 'edit firm' user.pk %}" class="btn btn-secondary btn-sm">Edit profile</a>
                <a href="{% url 'firm delete' user.pk %}" class="btn btn-secondary btn-sm">Delete profile</a>
                <a href="{% url 'create car' %}" class="btn btn-secondary btn-sm">Add Advisement</a>
                <a href="{% url 'logout user' %}" class="btn btn-secondary btn-sm">Logout</a>
        {% if cars %}
            {% for car in cars %}
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <div class="card ml-3 mb-3" style="width: 12rem;">
                                <img src="{{ car.photo }}"
                                     class="card-img-top" alt="Photo description">
                                <div class="card-body">

                                    <h5 class="card-title">{{ car.brand }}{{ car.model }}</h5>
                                    <p class="card-text">First registration : {{ car.first_reg_date }}</p>
                                    <p class="card-text">{{ car.transmission }}</p>
                                    <p class="card-text">{{ car.fuel }}</p>
                                    <p class="card-text">{{ car.km }} KM</p>
                                    <p class="card-text">Price : {{ car.price }} Euro</p>
                                    <div class="navbar">
                                        <a href="{% url 'car details' car.pk %}"
                                           class="btn btn-lg btn-secondary">Seе</a>
                                        <a href="{% url 'edit car' car.pk %}" class="btn btn-lg btn-secondary">Edit</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
            {% endfor %}
        {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
