{% extends 'base.html' %}
{% block page_content %}
    <body style="background-color:#0dcaf0;"></body>
    <div class="row justify-content-center">
        <div class="d-flex">
            <div class="d-inline p-2 w-50">
            {% if profile.first_name %}
                <h1><u>This is User Profile</u></h1>
            {% else %}
                <h1><u>This is Firm Profile</u></h1>
            {% endif %}
            </div>
            <div class="d-inline p-2 w-50">


                <div class="d-flex flex-column">
                    {% if profile.first_name %}
                        <h5><u>User Name:</u> {{ profile.first_name }} {{ profile.last_name }}</h5>
                    {% endif %}
                {% if profile.firm_name %}
                        <h5><u>firm Name:</u> {{ profile.firm_name }}</h5>
                    {% endif %}

                    {% if profile.address %}
                        <h5><u>Address:</u> {{ profile.address }}</h5>
                    {% endif %}
                    {% if profile.email %}
                        <h5><u>Email:</u> {{ profile.email }}</h5>
                    {% endif %}
                    {% if profile.phone %}
                        <h5><u>Phone Number:</u> {{ profile.phone }}</h5>
                    {% endif %}
                    {% if profile.address %}
                        <h5><u>Address:</u> {{ profile.address }}</h5>
                    {% endif %}
                    {% if profile.region %}
                        <h5><u>Region:</u> {{ profile.region }}</h5>
                    {% endif %}
                </div>
                <a href="#" class="btn btn-lg btn-secondary">Dashboard</a>
                <a href="{% url 'edit user' profile.pk %}" class="btn btn-lg btn-secondary">Edit profile</a>
                <a href="{% url 'delete user' profile.pk %}" class="btn btn-lg btn-secondary">Delete profile</a>
                <a href="#" class="btn btn-lg btn-secondary">Add new Car</a>
                {% if is_owner %}
{#                    <a href="{% url 'edit profile' %}" class="btn btn-primary">Edit</a>#}
{#                    <a href="{% url 'delete profile' %}" class="btn btn-danger">Delete</a>#}
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}