{% extends 'base.html' %}
{% load static %}
{% block page_content %}
    <body style="background-color:#6c757d;"></body>
    <div class="jumbotron">
        <img style="width: 70%"

             src="https://media.istockphoto.com/id/955952680/photo/passengers-commercial-airplane-flying-above-clouds.jpg?s=1024x1024&w=is&k=20&c=khuFYIwkgYzEnSKoatWkjOZkveBIrnvzO_eaafUgBh8=" alt="">

        <div class="position-sticky">
            <h1 class="display-4">Welcome to Occasion</h1>

            <h2 class="display-4">You are login</h2>

            <hr class="my-4">
            <div class="flex-row">

                <!-- Login Button -->
{#                <a href="{% url 'login user' %}" class="btn btn-lg btn-secondary">Login</a>#}

                <!-- Register Button -->

            </div>
        </div>
    </div>

{% endblock %}