{% extends 'base.html' %}
{% load static %}
{% block page_content %}
    <body style="background-color:#6c757d;"></body>

    <div class="jumbotron">
    <hr class="my-6">
        {{ context }}
        <img style="width: 80%" src="{% static '/images/occasion2.jpg' %}" alt="">
        <div class="position-sticky">
            <h1 class="display-4">Welcome to Occasion</h1>

            {% if request.user.is_authenticated %}

                    {% if not request.user.firmprofile %}
                    <a href="{% url 'profile details' request.user.id %}" class="btn btn-primary">Profile</a>
                    {% else %}
                    <a href="{% url 'firm details' request.user.id %}" class="btn btn-primary"> Firm Profile</a>
                    {% endif %}

            {% endif %}

            <hr class="my-6">
            <div class="flex-row">

                <!-- Login Button -->
{#                <a href="{% url 'login user' %}" class="btn btn-lg btn-secondary">Login</a>#}

                <!-- Register Button -->

            </div>
        </div>
    </div>
{% endblock %}