{% extends 'base.html' %}

{% block page_content %}
    <body style="background-color:#6c757d;"></body>
    <h1 class='text-center'>Welcome to Occasion</h1>
    {% if request.user.is_authenticated %}
        <a href="{% url 'logout user' %}" class="btn btn-lg btn-secondary"><strong>Logout</strong></a>
    {% else %}
        <h1 class='text-center'>If you want to see additional information you should be Logged<a href="{% url 'login user' %}" class="btn btn-lg btn-secondary"><strong>User Login</strong></a></h1>
    {% endif %}
    <a class="btn btn-lg btn-secondary" href="javascript:history.back()"><strong>Back</strong></a>
    {% if not user.is_staff and request.user.is_authenticated %}
    <a href="{% url 'create truck' %}" class="btn btn-lg btn-secondary"><strong>Add Truck</strong></a>
    {% endif %}
    <a href="{% url 'all cars' %}" class="btn btn-lg btn-secondary"><strong>All Cars</strong></a>
    <a href="{% url 'all motors' %}" class="btn btn-lg btn-secondary"><strong>All Motors</strong></a>
        {% if user_truck %}
            <div class="row">
            {% for truck in user_truck %}


                        <div class="col">
                            <div class="card ml-3 mb-3" style="width: 12rem;">
                                <img src="{{ truck.photo }}"
                                     class="card-img-top" alt="Photo description">
                                <div class="card-body">

                                    <h5 class="card-title">{{ truck.brand }} {{ truck.model }}</h5>
                                    <p class="card-text">First registration : {{ truck.first_reg_date }}</p>
                                    <p class="card-text">{{ truck.transmission }}</p>
                                    <p class="card-text">{{ truck.fuel }}</p>
                                    {% if request.user.is_authenticated %}
                                    <div class="navbar">
                                        <a href="{% url 'truck details' truck.pk %}"
                                           class="btn btn-lg btn-secondary">Truck details</a>
                                    </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>



            {% endfor %}
            </div>
        {% else %}
            <h1 class='text-center'>Not trucks yet</h1>
        {% endif %}


{% endblock %}