{% extends 'base.html' %}

{% block page_content %}
    <body style="background-color:#20c997;"></body>
    <h1 class='text-center'>
        {% if car %}
            Advertisement Details
        {% else %}
            No car photos yet
        {% endif %}
    </h1>
    <a href="{% url 'all cars' %}" class="btn btn-primary">All Cars</a>
    <a href="{% url 'all trucks' %}" class="btn btn-primary">All Trucks</a>
    <a href="{% url 'all motors' %}" class="btn btn-primary">All Motors</a>
    <a href="{% url 'logout user' %}" class="btn btn-primary">Logout</a>
    {% if not user.is_staff %}
        {% if not request.user.firmprofile %}
            <a href="{% url 'profile details' request.user.id %}" class="btn btn-primary">Your Profile</a>
        {% else %}
            <a href="{% url 'firm details' request.user.id %}" class="btn btn-primary">Your Profile</a>
        {% endif %}
    {% endif %}
    {% if object.user.userprofile.phone %}
        <h1 class='text=end'>Owner phone number: {{ object.user.userprofile.phone }}</h1>
        <h1 class='text=end'>Region : {{ object.user.userprofile.region }}</h1>
    {% else %}
        <h1 class='text=center'>Owner phone number: {{ object.user.firmprofile.phone }}</h1>
        <h1 class='text=center'>Region : {{ object.user.firmprofile.region }}</h1>
    {% endif %}
    {% if car %}
{#        <div class="container mb-5">#}
            <div class="row mb-5">
                <div class="col-sm-6">
                    <div class="card ml-3 mb-3" style="width: 15rem;">
                        <!-- Image -->
                        <img src="{{ car.photo }}"
                             class="card-img-top" alt="Photo description">
                        <div class="card-body">

                            <h5 class="card-title">{{ car.brand }}  {{ car.model }}</h5>
                            <p class="card-text">First registration : {{ car.first_reg_date }}</p>
                            <p class="card-text">Transmission : {{ car.transmission }}</p>
                            <p class="card-text">Fuel : {{ car.fuel }}</p>
                            <p class="card-text">{{ car.km }} KM</p>
                            <p class="card-text">Price : {{ car.price }} Euro</p>
                            {% if is_owner or user.is_superuser %}
                            <div class="navbar">
                                <a href="{% url 'edit car' car.id %}" class="btn btn-secondary btn-sm">Edit</a>
                                <a href="{% url 'delete car' car.id %}" class="btn btn-secondary btn-sm">Delete</a>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="card ml-3 mb-3" style="width: 15rem;">
                            <div>
                                {% if car.photo2 %}
                                    <img src="{{ car.photo2 }}" alt="HTML5 Icon" style="width:328px;height:228px;">
                                {% endif %}

                            </div>
                    </div>
                <div class="col-sm-6">
                    <div class="card ml-3 mb-3" style="width: 15rem;">
                        <div>
                            {% if car.photo3 %}
                                <img src="{{ car.photo3 }}" alt="HTML5 Icon" style="width:328px;height:228px;">
                            {% endif %}

                        </div>
                    </div>

    {% endif %}


{% endblock %}