{% extends 'base.html' %}

{% block page_content %}
    <body style="background-color:#20c997;"></body>
    <h1 class='text-center'>
        {% if motor %}
            Advertisement Details
        {% else %}
            No motor photos yet
        {% endif %}
    </h1>
    <a href="{% url 'all cars' %}" class="btn btn-primary">All Cars</a>
    <a href="{% url 'all trucks' %}" class="btn btn-primary">All Trucks</a>
    <a href="{% url 'all motors' %}" class="btn btn-primary">All Motors</a>
    <a href="{% url 'logout user' %}" class="btn btn-primary">Logout</a>
    {% if not request.user.firmprofile %}
        <a href="{% url 'profile details' request.user.id %}" class="btn btn-primary">Your Profile</a>
    {% else %}
        <a href="{% url 'firm details' request.user.id %}" class="btn btn-primary">Your Profile</a>
    {% endif %}

    {% if object.user.userprofile.phone %}
        <h1 class='text=end'>Owner phone number: {{ object.user.userprofile.phone }}</h1>
        <h1 class='text=end'>Region : {{ object.user.userprofile.region }}</h1>
    {% else %}
        <h1 class='text=center'>Owner phone number: {{ object.user.firmprofile.phone }}</h1>
        <h1 class='text=center'>Region : {{ object.user.firmprofile.region }}</h1>
    {% endif %}
    {% if motor %}
{#        <div class="container mb-5">#}
            <div class="row mb-5">
                <div class="col-sm-6">
                    <div class="card ml-3 mb-3" style="width: 15rem;">
                        <!-- Image -->
                        <img src="{{ motor.photo }}"
                             class="card-img-top" alt="Photo description">
                        <div class="card-body">

                            <h5 class="card-title">{{ motor.brand }}  {{ motor.model }}</h5>
                            <p class="card-text">First registration : {{ motor.first_reg_date }}</p>
                            <p class="card-text">Transmission : {{ motor.transmission }}</p>
                            <p class="card-text">Fuel : {{ motor.fuel }}</p>
                            <p class="card-text">{{ motor.km }} KM</p>
                            <p class="card-text">Price : {{ motor.price }} Euro</p>
                            {% if is_owner %}
                            <div class="navbar">
                                <a href="{% url 'edit motor' motor.id %}" class="btn btn-secondary btn-sm">Edit</a>
                                <a href="{% url 'delete motor' motor.id %}" class="btn btn-secondary btn-sm">Delete</a>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="card ml-3 mb-3" style="width: 15rem;">
                            <div>
                                {% if motor.photo2 %}
                                    <img src="{{ motor.photo2 }}" alt="HTML5 Icon" style="width:328px;height:228px;">
                                {% endif %}

                            </div>
                    </div>
                <div class="col-sm-6">
                    <div class="card ml-3 mb-3" style="width: 15rem;">
                        <div>
                            {% if motor.photo3 %}
                                <img src="{{ motor.photo3 }}" alt="HTML5 Icon" style="width:328px;height:228px;">
                            {% endif %}

                        </div>
                    </div>
{#        </div>#}
{#        {% if is_owner %}#}




{#        {% endif %}#}
    {% endif %}


{% endblock %}